.color-picker{
  .purple{
    background-color: #7c81ea;
  }
  .green{
    background-color: #5eb09b;
  }
  .dark-gray{
    background-color: #4d4d4d;
  }
  .red{
    background-color: red;
  }
  .yellow{
    background-color: yellow;
  }
  .blue{
    background-color: blue;
  }
  .orange{
    background-color: orange;
  }
  .light-blue{
    background-color:#99b3ff;
  }
  .black{
    background-color: #000;
  }
  .beige{
    background-color: #e9e9af;
  }
  .aqua{
    background-color: $nav-active;
  }
}
