.main-footer{
  color: white;
  a{
    color: white;
  }
  .footer-top{
    background-color: $footer-bkg;
    padding: 50px 0;
    h3{
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .f-info{
      color: $footer-text;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 0;
      a{
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    .back-to-top{
      display: none;
    }
  }
  .footer-bootom{
    padding: 15px 0;
    .soc-net{
      text-align: center;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 10px;
        }
      }

      a{
        display: block;
        width: 40px;
        height: 40px;
        text-indent: -99999px;
        background-size: cover;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        &.ks{
          background-image: url("../img/krojacevaskola.png");
        }
        &.fb{
          background-image: url("../img/facebook.png");
        }
        &.tw{
          background-image: url("../img/twitter.png");
        }
        &.ins{
          background-image: url("../img/instagram.png");
        }
        &.yt{
          background-image: url("../img/youtube.png");
        }
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}
.nav{
  padding-bottom: 5px;
  padding-right: 45px;
  li{
    text-align: center;
    a{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      display: inline-block;
      &:hover, &:focus{
        background-color: transparent;
        border-bottom-color: $nav-active;
      }
    }
  }
  .active{
        a{
          border-bottom: 2px solid $nav-active;

        }
  }
}
@media(min-width: 768px){
  .main-footer{
    .footer-top{
      position: relative;
      h4{
        margin: 25px 0;
        text-transform: uppercase;
        font-size: 18px;
      }
      li{
        margin-bottom: 7px;
      }
      .tags{
        li{
          margin-bottom: 10px;
          float: left;
          &:not(:last-child){
            margin-right: 10px;
          }
          a{
            padding: 6px 10px;
            background-color: #1299d3;
            display: inline-block;
            &:hover{
              color: $tags-color;
            }

          }
        }
      }
      .back-to-top{
        display: block;
        width: 40px;
        height: 40px;
        border: solid 1px white;
        background-image: url("../img/back-to-top-white.png");
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999px;
        position: absolute;
        right: 30px;
        bottom: 30px;
        cursor: pointer;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        &:hover{
          background-image: url("../img/back-to-top-blue.png");
          background-color: white;
        }
      }
    }
    .footer-bootom{
      .soc-net{
        float: left;
        li{
          &:not(:last-child){
            margin-right: 0px;
            }

          a{
            width: 20px;
            height: 20px;
          }
        }
      }
      .footer-nav{
        float: right;
        padding-bottom: 0;
        li{
          float: left;
          &:not(:last-child){
            margin-right: 20px;

          }
          a{
            color: $link-color;
            font-size: 12px;
            padding: 0 0 3px;

            }
        }

      }
    }
  }
}
@media (min-width: 992px){
  .main-footer{
    .footer-top{
      .info{
        font-size: 14px;
      }
      p{
        font-size: 14px;
      }
    }
    .footer-bootom{
      padding: 25px 0;
    }
  }
}
@media (min-width: 1200px){
  .main-footer{
    .footer-top{
      h4{
        margin-top: 50px;
      }
      .tags{
        li{
          a{
            padding: 9px 13px;
          }
        }
      }
    }
    .footer-bootom{
      padding: 35px 0;
    }

  }
}
@media (min-width: 1400px){
  .main-footer{
    .footer-top{
      .back-to-top{
        border-color: #85c3dc;
        bottom: -60px;
        background-image: url("../img/back-to-top-blue.png");
        &:hover{
          background-color: #85c3dc;
          background-image: url("../img/back-to-top-white.png");

        }
      }
    }
  }
}
